OSX_SIGN_ENABLED=true
OSX_SIGN_IDENTITY="John Doe (XXXXXXXXXX)" # Replace XXXXXXXXXX with your actual Apple Developer Team ID

OSX_NOTARIZE_ENABLED=true
APPLE_ID="john@doe.com"
APPLE_ID_PASSWORD="xxxx"
APPLE_TEAM_ID="XXXXXXXXXX"

CERT_PASSWORD="xxxx" # password for the OSX p12 certificate for codesign
