/* Tailwind */
@import 'tailwindcss';
@plugin "@junipero/tailwind-plugin";
@custom-variant dark (&:where(.dark, .dark *));

/* Junipero */
@import '@junipero/theme/dist/css/reset.min.css';
@import '@junipero/theme/dist/css/reset.dark.min.css';
@import '@junipero/theme/dist/css/InfiniteCanvas.min.css';
@import '@junipero/theme/dist/css/InfiniteCanvas.dark.min.css';

/* Radix */
@import '@radix-ui/themes/styles.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Public Pixel";
  font-weight: 400;
  font-style: normal;
  src: url("resources://public/public-pixel.woff2") format("woff2");
}

@theme {
  --font-public-pixel: 'Public Pixel', monospace;
}

@utility app-drag {
  -webkit-app-region: drag;
  app-region: drag;
}

@utility app-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

@utility container {
  max-width: 1000px;
  margin: auto;
}

@utility pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@utility editable {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility dialog {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    border-image: url("resources://public/dialog-background.png");
    border-image-slice: 16;
    border-image-width: 16px;
    border-image-repeat: stretch;
    border-style: solid;
    border-width: 16px;
    background-image: url("resources://public/dialog-background.png");
    background-size: calc(100% + 32px) calc(100% + 32px);
    background-position: center;
    background-repeat: repeat;
  }

  & > div {
    position: relative;
    z-index: 2;
  }
}
